html, body {
	overflow: hidden;
	height: 100%;
	font-family: sans-serif;
	font-size: 90%;
}
input {
	width: 50%;
	font-family: Consolas, Monaco, Lucida Console, monospace;
}
textarea {
	width: 99.5%;
	height: 90%;
	font-family: Consolas, Monaco, Lucida Console, monospace;
}